*{
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Chicago,sans-serif;
    font-weight: bold;
    background-size: cover;
}

.module{
    border: 3px solid rgb(44, 44, 44);
    border-radius: 1%;
    width: 800px;
    height: 600px;
    background-color: white;
    position: absolute;
}

.module p{
    margin: 0 5px 0 5px;
}

nav{
    width: 800px;
    height: 30px;
    border-bottom: 1px solid rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.canvas{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaUlEQVQoU12PCw2AMAwFbzaGDLCBDXSgAxvYABlgY+RgWxqaLOnn+vqWgBE4+WIFNuCudUk1EZorYCsDF5Aa4OYelAowqCTg0GeodLhZ62yiXL8JTNFTJ9vNv6cG9JvhN68nAYdRaYmeHot9F9X2eFD0AAAAAElFTkSuQmCC) repeat;
    width: 800px;
    height: 570px;
    position: absolute;
    overflow: hidden;
}


.box a img{
    width: 15px;
    height: 15px;
    fill: black;
}

.box a img:hover{
    fill: white;
}

nav a{
    height: 30px;
    margin: 0 5px 0 5px;
    padding: 7px;
}

nav a:hover{
    background-color: black;
    color: white;
}

.icon{
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    width: 60px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon img{
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 5px;
}

.icon h5{
    background-color: rgba(255, 255, 255, 0.8);
    width: 90px;
    display: flex;
    justify-content: center;
}

.message{
    width: 400px;
    height: 400px;
    border: 1px solid rgb(44, 44, 44);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
}

#message{
    overflow-y: scroll;
    height: 380px;
    width: 297px;
}

#message p{
    margin: 10px;
}


.dialogue-box .ui-dialog-titlebar{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialogue-box span.ui-dialog-titlebar{
    color: red;
}

.dialogue-box  button{
    width: 17px;
    height: 17px;
    background-color: red;
    border: 1px solid rgb(255, 92, 92);
    overflow: hidden;
    color: red;
    border-radius: 70%;
    order: -1;
}


.kanye-music{
    border: 1px solid rgb(44,44,44);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.apple{
    display: none;
}

.special{
    display: none;
}

